# AI & ML Video Assignment

# Market Basket Analysis and Recommendation Systems Associate Rule Minning (Apriori Algorithm)

Perform Market Basket Analysis using Associate Rule Minning (Apriori Algorithm) using the following transactional dataset:
https://www.kaggle.com/shazadudwadia/supermarket# Use support = 0.1 and confidence=0.4 for threshold.

Output the following:
      a) Support score for all the different products.
      b) Confidence for each pair of products.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("a.csv",delimiter=',',header=None)
df.columns = ['Items']
df['Trans'] = np.arange(1,len(df)+1)
df.head(30)

                             Items  Trans
0               MILK,BREAD,BISCUIT      1
1    BREAD,MILK,BISCUIT,CORNFLAKES      2
2              BREAD,TEA,BOURNVITA      3
3             JAM,MAGGI,BREAD,MILK      4
4                MAGGI,TEA,BISCUIT      5
5              BREAD,TEA,BOURNVITA      6
6             MAGGI,TEA,CORNFLAKES      7
7          MAGGI,BREAD,TEA,BISCUIT      8
8              JAM,MAGGI,BREAD,TEA      9
9                       BREAD,MILK     10
10  COFFEE,COCK,BISCUIT,CORNFLAKES     11
11  COFFEE,COCK,BISCUIT,CORNFLAKES     12
12          COFFEE,SUGER,BOURNVITA     13
13               BREAD,COFFEE,COCK     14
14             BREAD,SUGER,BISCUIT     15
15         COFFEE,SUGER,CORNFLAKES     16
16           BREAD,SUGER,BOURNVITA     17
17              BREAD,COFFEE,SUGER     18
18              BREAD,COFFEE,SUGER     19
19      TEA,MILK,COFFEE,CORNFLAKES     20

In [3]:
cols = df.columns.tolist()
cols = cols[::-1]
df = df[cols]
df.head(30)

    Trans                           Items
0       1              MILK,BREAD,BISCUIT
1       2   BREAD,MILK,BISCUIT,CORNFLAKES
2       3             BREAD,TEA,BOURNVITA
3       4            JAM,MAGGI,BREAD,MILK
4       5               MAGGI,TEA,BISCUIT
5       6             BREAD,TEA,BOURNVITA
6       7            MAGGI,TEA,CORNFLAKES
7       8         MAGGI,BREAD,TEA,BISCUIT
8       9             JAM,MAGGI,BREAD,TEA
9      10                      BREAD,MILK
10     11  COFFEE,COCK,BISCUIT,CORNFLAKES
11     12  COFFEE,COCK,BISCUIT,CORNFLAKES
12     13          COFFEE,SUGER,BOURNVITA
13     14               BREAD,COFFEE,COCK
14     15             BREAD,SUGER,BISCUIT
15     16         COFFEE,SUGER,CORNFLAKES
16     17           BREAD,SUGER,BOURNVITA
17     18              BREAD,COFFEE,SUGER
18     19              BREAD,COFFEE,SUGER
19     20      TEA,MILK,COFFEE,CORNFLAKES

In [4]:
df['Item-List'] = df["Items"].apply(lambda x: x.split(','))
df.head(30)

    Trans                           Items                            Item-List
0       1              MILK,BREAD,BISCUIT               [MILK, BREAD, BISCUIT]
1       2   BREAD,MILK,BISCUIT,CORNFLAKES   [BREAD, MILK, BISCUIT, CORNFLAKES]
2       3             BREAD,TEA,BOURNVITA              [BREAD, TEA, BOURNVITA]
3       4            JAM,MAGGI,BREAD,MILK            [JAM, MAGGI, BREAD, MILK]
4       5               MAGGI,TEA,BISCUIT                [MAGGI, TEA, BISCUIT]
5       6             BREAD,TEA,BOURNVITA              [BREAD, TEA, BOURNVITA]
6       7            MAGGI,TEA,CORNFLAKES             [MAGGI, TEA, CORNFLAKES]
7       8         MAGGI,BREAD,TEA,BISCUIT         [MAGGI, BREAD, TEA, BISCUIT]
8       9             JAM,MAGGI,BREAD,TEA             [JAM, MAGGI, BREAD, TEA]
9      10                      BREAD,MILK                        [BREAD, MILK]
10     11  COFFEE,COCK,BISCUIT,CORNFLAKES  [COFFEE, COCK, BISCUIT, CORNFLAKES]
11     12  COFFEE,COCK,BISCUIT,CORNFLAKES  [COFFEE, COCK, BISCUIT, CORNFLAKES]
12     13          COFFEE,SUGER,BOURNVITA           [COFFEE, SUGER, BOURNVITA]
13     14               BREAD,COFFEE,COCK                [BREAD, COFFEE, COCK]
14     15             BREAD,SUGER,BISCUIT              [BREAD, SUGER, BISCUIT]
15     16         COFFEE,SUGER,CORNFLAKES          [COFFEE, SUGER, CORNFLAKES]
16     17           BREAD,SUGER,BOURNVITA            [BREAD, SUGER, BOURNVITA]
17     18              BREAD,COFFEE,SUGER               [BREAD, COFFEE, SUGER]
18     19              BREAD,COFFEE,SUGER               [BREAD, COFFEE, SUGER]
19     20      TEA,MILK,COFFEE,CORNFLAKES      [TEA, MILK, COFFEE, CORNFLAKES]

In [5]:
item_dict = {}
for item in df['Item-List']:
    for i in item:
        if i not in item_dict.keys():
            item_dict[i] = 1
        else:
            item_dict[i] += 1
print(item_dict)

{'MILK': 5, 'BREAD': 13, 'BISCUIT': 7, 'CORNFLAKES': 6, 'TEA': 7, 'BOURNVITA': 4, 'JAM': 2, 'MAGGI': 5, 'COFFEE': 8, 'COCK': 3, 'SUGER': 6}

In [6]:
import pandas as pd

number = [5,13,7,6,7,4,2,5,8,3,6]
items = ["MILK","Bread","Biscuit","Cornflakes","Tea","Bournvita","Jam","Maggi","Coffee","Cock","Suger"]

df = pd.DataFrame(list(zip(number, items)),
                  columns=['Quantity', 'Item'])
df.head()

   Quantity        Item
0         5        MILK
1        13       Bread
2         7     Biscuit
3         6  Cornflakes
4         7         Tea

In [7]:
y = pd.get_dummies(df.Item, prefix='Items')
print(y.head())

   Items_Biscuit  Items_Bournvita  Items_Bread  Items_Cock  Items_Coffee  \
0              0                0            0           0             0
1              0                0            1           0             0
2              1                0            0           0             0
3              0                0            0           0             0
4              0                0            0           0             0

   Items_Cornflakes  Items_Jam  Items_MILK  Items_Maggi  Items_Suger  \
0                 0          0           1            0            0
1                 0          0           0            0            0
2                 0          0           0            0            0
3                 1          0           0            0            0
4                 0          0           0            0            0

   Items_Tea
0          0
1          0
2          0
3          0
4          1

In [8]:
from sklearn.preprocessing import LabelBinarizer

In [9]:
y = LabelBinarizer().fit_transform(df.Item)
y

array([[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0]])

In [10]:
hot_encoded_df = df.groupby(['Quantity','Item'])['Item'].count().unstack().reset_index().fillna(0).set_index('Quantity')
hot_encoded_df.head(10)

Item,Biscuit,Bournvita,Bread,Cock,Coffee,Cornflakes,Jam,MILK,Maggi,Suger,Tea
Quantity,,,,,,,,,,,
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
def encode_units(x):
    if x <= 0:
        return 0
    else:
        return 1
hot_encoded_df = hot_encoded_df.applymap(encode_units)

In [12]:
hot_encoded_df.head(10)

Item,Biscuit,Bournvita,Bread,Cock,Coffee,Cornflakes,Jam,MILK,Maggi,Suger,Tea
Quantity,,,,,,,,,,,
2,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,1,1,0,0
6,0,0,0,0,0,1,0,0,0,1,0
7,1,0,0,0,0,0,0,0,0,0,1
8,0,0,0,0,1,0,0,0,0,0,0
13,0,0,1,0,0,0,0,0,0,0,0

In [13]:
from mlxtend.frequent_patterns import apriori, association_rules

In [14]:
femsreq_itets = apriori(hot_encoded_df, min_support=0.1,use_colnames = True)
freq_itemsets

    support             itemsets
0     0.125            (Biscuit)
1     0.125          (Bournvita)
2     0.125              (Bread)
3     0.125               (Cock)
4     0.125             (Coffee)
5     0.125         (Cornflakes)
6     0.125                (Jam)
7     0.125               (MILK)
8     0.125              (Maggi)
9     0.125              (Suger)
10    0.125                (Tea)
11    0.125       (Biscuit, Tea)
12    0.125  (Suger, Cornflakes)
13    0.125        (Maggi, MILK)

In [17]:
rules = association_rules(freq_itemsets, metric='lift')
rules.head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Biscuit),(Tea),0.125,0.125,0.125,1.0,8.0,0.109375,inf
1,(Tea),(Biscuit),0.125,0.125,0.125,1.0,8.0,0.109375,inf
2,(Suger),(Cornflakes),0.125,0.125,0.125,1.0,8.0,0.109375,inf
3,(Cornflakes),(Suger),0.125,0.125,0.125,1.0,8.0,0.109375,inf
4,(Maggi),(MILK),0.125,0.125,0.125,1.0,8.0,0.109375,inf
5,(MILK),(Maggi),0.125,0.125,0.125,1.0,8.0,0.109375,inf

In [18]:
rules[ (rules['lift'] > 1.1) & (rules['confidence'] > 0.4)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Biscuit),(Tea),0.125,0.125,0.125,1.0,8.0,0.109375,inf
1,(Tea),(Biscuit),0.125,0.125,0.125,1.0,8.0,0.109375,inf
2,(Suger),(Cornflakes),0.125,0.125,0.125,1.0,8.0,0.109375,inf
3,(Cornflakes),(Suger),0.125,0.125,0.125,1.0,8.0,0.109375,inf
4,(Maggi),(MILK),0.125,0.125,0.125,1.0,8.0,0.109375,inf
5,(MILK),(Maggi),0.125,0.125,0.125,1.0,8.0,0.109375,inf